*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
body{
   padding: 60px 0 0 60px;
}
.creator__title{
    margin-bottom: 25px;
}
input{
    margin-bottom: 20px;
    width: 190px;
    height: 24px;
    border-radius: 6px;
    padding-left: 5px;

}
select{
    margin-bottom: 15px;
    border-radius: 3px;
    height: 24px;
}
.creator__btn{
    width: 70px;
    height: 30px;
    margin-bottom: 25px;
    border-radius: 4px;
}
.tasks{
    margin-top: 25px;
}
.task{
    display: flex;
    flex-direction: row;
}
hr{
    width: 500px;
    height: 3px;
    background-color: black;
}
.task__delete{
    width: 70px;
    height: 24px;
    margin-bottom: 25px;
    border-radius: 4px;
    background-color: rgb(238, 62, 62);
    border-color: rgb(238, 62, 62);
    color: #fff;
}

